#!/usr/bin/make -f

APP=fin
application = $(CURDIR)/$(APP)
DESTDIR=$(CURDIR)/debian/$(APP)
build: build-stamp
	make
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
		dh_testdir
		touch build-stamp

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp
		dh_clean

install: build clean $(application)
		 dh_testdir
		 dh_testroot
		 dh_prep
		 dh_installdirs
		 mkdir -m 755 -p $(CURDIR)/debian/$(APP)/usr/bin
		 mkdir -m 755 -p $(CURDIR)/debian/$(APP)/usr/share
		 mkdir -m 755 -p $(CURDIR)/debian/$(APP)/usr/share/man
		 mkdir -m 755 -p $(CURDIR)/debian/$(APP)/usr/share/man/man1
		 install -m 755 --strip $(APP) $(DESTDIR)/usr/bin
binary-indep: build install
			  dh_shlibdeps
			  dh_testdir
			  dh_testroot
			  dh_installchangelogs
			  dh_installdocs
			  dh_installexamples
			  dh_installman
			  dh_link
			  dh_compress
			  dh_fixperms
			  dh_installdeb
			  dh_gencontrol
			  dh_md5sums
			  dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
